#workout_adding_form {
    background-color: var(--background-color-alternate);
    color: black;
    display: inline-block;
    width: fit-content;
    margin: 3rem 1rem 1rem 1rem;
    padding: 5rem;
    border-radius: 10px;
    border: 1px #9a9393 solid;
}

.form {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

pre {
    margin: 0;
    padding: 8px 0 8px 0;
}

.saveBtn {
    display: block;
    margin: 0 auto;
}