@import "tailwindcss";

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    --background-color: #0a0a0f;
    --background-color-nav: #DC3636;
    --background-color-alternate: #eae7e7;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}
